html,
body {
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    min-width: 320px;
    color: $--text;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
img {
    display: block;
    max-width: 100%;
}
video {
    display: block;
    max-width: 100%;
}
a, span{
    display: block;
}
.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-fluid {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

button{
    cursor: pointer;
    color: inherit;
}