@import "vars";
@import "fonts";
@import "reset";
@import "global";

.entry-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &__links {
        display: flex;
        gap: 30px;
    }

    &__tel {
        font-weight: 600;
        color: $--text;

        &:hover{
            color: $--black;
        }
    }

    &__link:hover{
        color: $--black;
    }
}

.online-chat{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    &__icon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: 16px;
            height: 16px;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.logo__svg {
    width: 50px;
    height: 40px;
}

.catalog-btn{
    border-radius: 10px;
    background: $--accent;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &__text{
        font-size: 16px;
        font-weight: 600;
        color: $--white;
    }

    &__icon{
        position: relative;
        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: $--white;

        &::after, &::before{
            position: absolute;
            content: "";
            width: 15px;
            height: 2px;
            border-radius: 2px;
            background-color: $--white;
        }

        &::after{
            bottom: 5px;
            left: 0;
        }

        &::before{
            top: 5px;
            left: 0;
        }
    }
}

.search {
    position: relative;
    max-width: 600px;
    width: 100%;

    &__input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid $--accent;
        outline: 1px solid transparent;
        padding: 10px 70px 10px 20px;

        &:focus {
            outline: 1px solid $--accent;
        }
    }

    &__btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        border-radius: 0 10px 10px 0;
        background: $--accent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

.user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &__link{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        svg{
            height: 20px;
            width: 20px;
        }

        &:hover{
            background-color: $--bg;
        }
    }

    &__number{
        position: absolute;
        top: 2px;
        right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        line-height: 1;
        color: $--white;
        background-color: $--accent;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
}


.menu{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    &__link{
        font-weight: 600;
        color: $--black;
        border-radius: 10px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        
        &:hover{
            color: $--text;
            background-color: $--bg;
        }
    }
}


.header-slider{
    margin-top: 30px;
    border-radius: 10px;
    background: $--bg;
}

.slide{
    position: relative;
    padding: 100px 15px 100px 135px;
    max-height: 420px;
    color: $--white;

    &__img{
        position: absolute;
        border-radius: 0 10px 10px 0;
        min-height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__content{
        max-width: 600px;
        width: 100%;
    }

    &__title{
        text-transform: uppercase;
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
    }

    &__text{
        margin-top: 10px;
        font-size: 20px;
        line-height: 30px;
    }

    &__btn{
        display: inline-block;
        padding: 15px 25px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 25px;
        background-color: $--white;
        color: $--accent;
        margin-top: 25px;
    }
}

.header-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    padding: 30px 0 50px;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }

    &__title{
        font-size: 26px;
        line-height: 35px;
        font-weight: 600;
        text-transform: uppercase;
        color: $--black;
    }
}

.catalog{
    padding: 20px 0 50px;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    &__title{
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
        color: $--black;
    }

    &__tabs{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__btn{
        padding: 10px 20px;
        height: 40px;
        text-align: center;
        font-size: 12px;
        border-radius: 5px;
        background-color: $--bg;
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__link{
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $--bg;
    }
}

.card{
    position: relative;
    width: 255px;
    border-radius: 10px;
    border: 1px solid $--line-color;

    &__img{
        width: 100%;
        height: 230px;
        object-fit: fill;
        border-radius: 10px 10px 0 0;
        background-color: $--bg;
    }

    &__content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    &__title{
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: $--black;
        margin-bottom: auto;
    }

    &__info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    &__info-row{
        display: flex;
        align-items: center;
        gap: 10px;

        svg{
            width: 18px;
            height: 18px;
        }
    }

    &__actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__price{
        margin-right: auto;
    }

    &__old-price{
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        text-decoration: 2px solid $--text line-through;
    }

    &__new-price{
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: $--black;
    }

    &__btn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $--line-color;
        background-color: $--bg;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 20px;
            height: 20px;

        }
    }

    &__buy-now{
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: $--accent;
        color: $--white;
        font-size: 12px;
        text-align: center;
    }

    &__btn--balance{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.pickup{
    padding: 50px 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

.pickup-banner{
    position: relative;
    border-radius: 10px;
    max-width: 540px;
    width: 100%;
    height: 240px;
    padding: 30px 40px;

    &__img{
        position: absolute;
        width: 100%;
        height: 240px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        object-fit: cover;
        z-index: -1;
    }

    &__content{
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    &__title{
        font-size: 26px;
        line-height: 36px;
        font-weight: 600;
        color: $--black;
    }

    &__link{
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: $--accent;
        position: relative;

        &::after{
            position: absolute;
            content: ">";
            font: inherit;
            color: inherit;
            margin-left: 5px;
        }
    }
}

.banner{
    padding: 50px 0;

    &__wrapper{
        position: relative;
        padding: 70px 170px;
        min-height: 420px;
    }

    &__img{
        position: absolute;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    &__content{
        max-width: 450px;
        width: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        color: $--white;
    }

    &__btn{
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        background-color: $--red;
        border-radius: 5px;
        font-size: 12px;
        line-height: 16px;
    }

    &__title{
        font-size: 35px;
        line-height: 50px;
        text-transform: uppercase;
    }

    &__link{
        display: inline-block;
        padding: 15px 25px;
        text-align: center;
        border-radius: 5px;
        background-color: $--bg;
        font-size: 16px;
        line-height: 20px;
        color: $--black;
    }
}

.popular-category{
    padding: 50px 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__title{
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
        color: $--black;
        text-transform: uppercase;
    }

    &__link{
        display: inline-block;
        padding: 15px 25px;
        text-align: center;
        border-radius: 5px;
        background-color: $--bg;
        font-size: 16px;
        line-height: 20px;
        color: $--black;
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.category-item{
    position: relative;
    border-radius: 10px;
    max-width: 255px;
    height: 255px;

    &__img{
        /* position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; */
        border-radius: 10px;
        object-fit: cover;
    }

    &__content{
        position: absolute;
        border-radius: 10px;
        background-color: rgba($color: $--black, $alpha: 0.5);
        top: auto;
        right: 10px;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        padding: 10px 15px;
        color: $--white;
    }

    &__title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    &__price{
        font-size: 12px;
        line-height: 20px;
    }
}

.certificate{
    padding: 50px 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        padding: 30px;
        border-radius: 10px;
        background-color: $--bg;
    }

    &__img{
        border-radius: 10px;
        max-height: 560px;
        object-fit: cover;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title{
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
        color: $--black;
    }
}

.certificate-list{
    padding: 20px 30px;
    border-radius: 10px;
    background-color: $--white;
    font-size: 14px;
    line-height: 20px;
    color: $--black;

    &__title{ 
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__item{
        position: relative;
        padding-left: 20px;

        &::before{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $--red;
            top: 5px;
            left: 0px;
        }
    }

    &__link{
        font-weight: 500;
        color: $--accent;
        margin-top: 15px;
    }
}

.advantages{
    padding: 50px 0;

    &__title{
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
        color: $--black;
        text-align: center;
        text-transform: uppercase;
    }

    &__desc{
        margin-top: 20px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    &__tab-list{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__tab-btn{
        display: inline-block;
        padding: 15px 25px;
        text-align: center;
        border-radius: 5px;
        background-color: $--bg;
        font-size: 16px;
        line-height: 20px;
        color: $--text;
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.advantages-card{
    padding: 25px 20px;
    border-radius: 10px;
    border: 1px solid $--line-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;

    svg{
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }
    
    &__title{
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: $--black;
    }
}

.video-preview{
    padding: 50px 0;

    &__wrapper{
        position: relative;
        border-radius: 10px;
        cursor: pointer;

        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color: $--black, $alpha: 0.5);
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            z-index: 1;
        }

        &:hover {
            &::after{
                opacity: 1;
            }
        
            .video-preview__btn{
                width: 115px;
                height: 115px;
                border: 10px solid rgba($color: $--accent, $alpha: 0.5);
                outline: 10px solid rgba($color: $--accent, $alpha: 0.25);
            }
        }
    }
    
    &__img{
        position: relative;
        height: 100%;
        border-radius: 10px;
    }

    &__btn{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        border: 10px solid transparent;
        outline: 10px solid transparent;
        border-radius: 50%;
        z-index: 5;
    }
}


.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &__text{
        font-size: 35px;
        line-height: 50px;
        font-weight: 600;
        color: $--black;
        text-transform: uppercase;
    }

    &__link{
        display: inline-block;
        padding: 15px 25px;
        text-align: center;
        border-radius: 5px;
        background-color: $--bg;
        font-size: 16px;
        line-height: 20px;
        color: $--black;
    }
}


.video-slider{
    padding: 50px 0;
}

.video-swiper{
    margin-top: 50px;
}

.video-card{
    position: relative;
    border-radius: 10px;
    background-color: $--bg;
    max-width: 500px;
    color: $--black;
    overflow: hidden;
    cursor: pointer;

    &__title{
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border-radius: 10px;
        background-color: rgba($color: $--bg, $alpha: 0.8);
        padding: 10px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        
    }

    &__img{
        border-radius: 10px;
        min-width: 100%;
        object-fit: cover;
    }

    &__btn{
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        border: 10px solid transparent;
        outline: 10px solid transparent;
        border-radius: 50%;
        z-index: 5;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $--black, $alpha: 0.5);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        z-index: 1;
    }

    &:hover {
        &::after{
            opacity: 1;
        }
    
        .video-card__btn{
            width: 80px;
            height: 80px;
            border: 10px solid rgba($color: $--accent, $alpha: 0.5);
            outline: 10px solid rgba($color: $--accent, $alpha: 0.25);
        }

        .video-card__title{
            transform: translateY(150%);
        }
    }
}

.newsletter{
    background-color: $--accent;
    color: $--white;
    padding: 20px 0;

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__text{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        max-width: 400px;
    }

    &__form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__input{
        width: 400px;
        height: 50px;
        color: $--text;
        border-radius: 10px;
        outline: 1px solid transparent;
        background-color: $--bg;
        padding: 10px 70px 10px 20px;

        &:focus {
            outline: 1px solid $--bg;
        }
    }

    &__btn{
        height: 50px;
        color: $--accent;
        border-radius: 10px;
        outline: 1px solid transparent;
        background-color: $--bg;
        padding: 0 25px;
    }
}

.footer{
    background-color: $--bg;

    &__wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &--top{
            padding: 50px 0;
        }

        &--main{
            position: relative;
            align-items: center;
            padding: 35px 0;

            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $--line-color;
                top: 0;
                left: 0;
            }
        }

        &--bottom{
            position: relative;
            align-items: center;
            padding: 20px 0;

            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $--line-color;
                top: 0;
                left: 0;
            }
        }
    }

    &__col{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__col--contacts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__col-info{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__col-title{
        font-size: 18px;
        font-weight: 600;
        color: $--black;
        margin-bottom: 10px;
    }

    &__col-tel{
        font-weight: 600;
        color: $--black;
    }

    &__downloads{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    &__downloads-link svg{
        width: 135px;
        height: 45px;
    }

    &__socail{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    &__socail-item{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 45px;
        width: 135px;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: $--white;

        svg{
            width: 20px;
            height: 20px;
        }
    }

    &__socail-name{
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: $--black;
    }

    &__socail-number{
        font-size: 10px;
        line-height: 14px;
    }

    &__links{
        display: flex;
        gap: 40px;
        font-size: 12px;
    }

    &__payments{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: auto;

        svg{
            width: 35px;
            height: 25px;
        }
    }
}

/* media requests */
@import "media";
